{% extends 'base.html'%}


{% block content %}
{% for product in products %}

<div class="container">
    
    <div class="row">
        <div class="col-md-5">
            <img src="{{product.image.url}}" class ="img-fluid" width="300">
            <br><br><br>
        </div>
        <div class="col-md-6">
            <h3 style="color: rgb(248, 6, 6);">Product : {{product.productname}}</h3>
            <h5 >Category : {{product.category}}</h5>
            <h5 >{{product.climatecondition}}</h5>
            <h5>Weight : {{product.weight}}</h5>
            <h5>Price : {{product.price}}</h5>
            <h5>Description : {{product.description}}</h5>
            <br>
            <form method="POST">
                {% csrf_token %}
                
                <input placeholder="" name="demo" value="{{product.id}}" hidden>
                <span>Quantity : </span><input placeholder="1" name="quantity">
                <button class="btn btn-info" type="submit">BUY</button>

                {% if messages %} 
                    {% for msg in messages %}
                        <code>{{msg}}</code>  
                    {% endfor %}
                {% endif %} 
            </form>
            <br><hr>

        </div>

    </div>


</div>
{%endfor%}
{% endblock %}